{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею:</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          И многое другое
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        <br><br>
        (─‿‿─) (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ ヽ(・∀・)ﾉ 
        Список будет дополняться по мере изучения материала 
        ＼(￣▽￣)／ ٩(｡•́‿•̀｡)۶ ♡( ◡‿◡ )
      </p>
    </article>
  </div>
</div>
{% endblock %} 